<div class="container">
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
        <li><a href="#reported-tv-series" data-toggle="tab">Reported TV Series</a></li>
        <li><a href="#reported-episodes" data-toggle="tab">Reported Episodes</a></li>
        <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="users">
            <div ng-include src="'partials/account/users-administration'"></div>
        </div>
        <div class="tab-pane fade" id="reported-tv-series">
            <div class="container">
                <h4>Reported TV Series</h4>
            </div>
        </div>
        <div class="tab-pane fade" id="reported-episodes">
            <div class="container">
                <h4>Reported Episodes</h4>
            </div>
        </div>
        <div class="tab-pane fade" id="statistics">
            <div class="container">
                <h4>Statistics</h4>
            </div>
        </div>
    </div>
</div>
<script src="/../scripts/bootstrap-tabs.js" charset="utf-8"></script>
