<div class="container col-md-10">
    <form class="form-horizontal" name="registerForm">
        <fieldset>
            <legend>Profile</legend>
            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputUserName">{{vm.currentUser.userName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputPassword"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFirstName" class="col-lg-2 control-label">First name</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputFirstName">{{vm.currentUser.firstName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLastName" class="col-lg-2 control-label">Last name</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputLastName">{{vm.currentUser.lastName}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputRegistrationDate" class="col-lg-2 control-label">Registration date</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputRegistrationDate">{{vm.currentUser.registrationDate}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="vm.identity.isAdmin()">
                <label for="inputToken" class="col-lg-2 control-label">Token</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputToken">{{vm.currentUser.token}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="vm.identity.isAdmin()">
                <label for="inputRoles" class="col-lg-2 control-label">Roles</label>
                <div class="col-lg-10">
                    <span class="form-control" id="inputRoles">{{vm.currentUser.roles}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="vm.identity.isAdmin() || vm.identity.isModerator()">
                <label for="inputIsBaned" class="col-lg-2 control-label">Banned</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="inputIsBaned" ng-checked="vm.currentUser.isBanned" disabled>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-2">
                <a href="#/users/profile/{{vm.currentUser._id}}/edit" class="btn btn-info">Edit</a>
            </div>
</div>
</fieldset>
</form>
</div>
